body {
  background: linear-gradient(#98b7e2, rgb(227, 231, 233));
}

.Weather {
  font-family: Arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  background: linear-gradient(#ccd8e5, #98b7e2);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}
.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  margin: 20px 0 0 0;
  font-weight: 100;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  top: -34px;
  position: relative;
  line-height: 1;
  margin-left: 5px;
}
